
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
@using CS322_PZ_PetraBabic2223.Controllers;
<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(@Url.Content("~/Content/mytemplate/")images/myImages/10.jpg);">
    <h2 class="l-text2 t-center">
        Cart
    </h2>
</section>

<!-- Cart -->
<section class="cart bgwhite p-t-70 p-b-100">
    <div class="container">
        <!-- Cart item -->
        <div class="container-table-cart pos-relative">
            <div class="wrap-table-shopping-cart bgwhite">
                <table class="table-shopping-cart">
                    <tr class="table-head">
                        <th class="column-1"></th>
                        <th class="column-2">Product</th>
                        <th class="column-3">Price</th>
                        <th class="column-4 align-content-center">Quantity</th>
                        <th class="column-5">Total</th>
                        <th></th>
                    </tr>
                    @{
                        double s = 0;
                    }
                    @foreach (Item item in (List<Item>) Session["cart"])
                    {
                        s = s + item.Pr.Price * item.Quantitiy;
                        

                    <tr class="table-row">
                        <td class="column-1">
                            <div class="cart-img-product b-rad-4 o-f-hidden">
                                <img src="@Url.Content("~/Content/mytemplate/")images/myImages/@item.Pr.ImagePath" alt="IMG-PRODUCT">
                            </div>
                        </td>
                        <td class="column-2">@item.Pr.ProductName</td>
                        <td class="column-3">$@item.Pr.Price</td>
                        <td class="column-4" align="justify">@item.Quantitiy</td>
                        <td class="column-5">$@(item.Pr.Price * item.Quantitiy)</td>
                        <td class="column-5">@Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = item.Pr.ProductId }, null)</td>
                    </tr>
}
                  </table> 
                </div>
            <div class="size10 trans-0-4 m-t-10 m-b-10">
                <!-- Button -->
                @Html.ActionLink("Continue Shopping", "Index", "Product", new object { },
                new { @class = "flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" })
            </div>            
            </div>

        <!-- Total -->
        <div class="bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">
            <h5 class="m-text20 p-b-24">
                Cart Totals
            </h5>

            <!--  -->
            <div class="flex-w flex-sb-m p-b-12">
                <span class="s-text18 w-size19 w-full-sm">
                    Total:
                </span>

                <span class="m-text21 w-size20 w-full-sm">
                    $@s
                </span>
            </div>


            <div class="size15 trans-0-4">
                <!-- Button -->
                <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                    Proceed to Checkout
                </button>
            </div>
        </div>
    </div>    
</section>


